
.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pricing-title {
    text-align: center;
    color: $color-black;
    font-size: 2rem;
    font-family: $font-raleway;
  }

  .pricing-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .pricing__box {
      width: 370px;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 0.5s;

      &:hover {
        border: 3px solid var(--accent-color);
        box-shadow: 3px 1px 27px var(--accent-color);
      }

      .pricing__details {
        margin-top: 34px;
        margin-bottom: 60px;
        text-align: center;

        .pricing__type {
          font-size: 1.25rem;
          font-family: $font-raleway;
          font-weight: 700;
        }

        .pricing__price {
          font-size: 2.875rem;
          font-family: $font-opensans;
          font-weight: 300;
          margin-top: 25px;
          //color: var(--accent-color);
        }

        .pricing__limited {
          text-align: center;
          margin-top: 15px;
          font-size: 0.75rem;
          font-family: $font-raleway;
          font-weight: 700;
        }
      }


      .pricing__items {
        text-align: center;

        .pricing__item {
          font-size: 0.875rem;
          margin-bottom: 20px;

          //nie działa wyświetlanie
          //&::before {
          //  content: "";
          //  width: 11px;
          //  height: 11px;
          //  display: inline-block;
          //  margin-right: 10px;
          //  background-image: url("../../../public/assets/Ckechmark-1.svg");
          //}


        }

      }

      .btn {
        text-decoration: none;
        align-self: center;
        font-size: 0.8125rem;
        padding: 16px 57px;
        border-radius: 23px;
        color: $color-white;
        &:hover {
          opacity: 0.9;
          font-size: 1rem;

        }
      }
    }

    .pricing__box--basic {

     border: 1px solid $color-redish;

      .pricing__price {
        margin-bottom: 30px;
      }

      .btn {
        position: relative;
        bottom: -25px;
        font-size: 0.8125rem;
        background-color: $color-redish;
        transition: 0.5s;
      }
    }

    .pricing__box--professional {
      border: 2px solid $color-primary;
      width: 400px;
      margin: 0 40px;
      box-shadow: 5px 1px 27px $color-primary-shadow;

      .pricing__type {
        font-size: 1.3125rem;
      }

      .pricing__item {
        margin-bottom: 25px;
      }

      .btn {
        position: relative;
        bottom: -25px;
        font-size: 0.8125rem;
        background-color: $color-primary;
        transition: 0.5s;
      }
    }

    .pricing__box--premium {
      border: 1px solid $color-green;

      .btn {
        position: relative;
        bottom: -25px;
        font-size: 0.8125rem;
        background-color: $color-green;
        transition: 0.5s;
      }
    }


  }





}


nie działa wyswietlanie
//.pricing__item--not::before {
//   background-image: url("../../../public/assets/Close.svg");
// }









