
.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pricing-title {
  text-align: center;
  color: $color-black;
  font-size: 2rem;
  font-family: $font-raleway;
}

.pricing__box {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //border: 1px solid var(--accent-color);
  transition: 0.5s;
}

//.pricing__box:hover {
//  border: 3px solid var(--accent-color);
//  box-shadow: 3px 1px 27px var(--accent-color);
//}

.pricing__details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing__type {
  font-size: 1.25rem;
  font-family: $font-raleway;
  font-weight: 700;
}

.pricing__price {
  font-size: 2.875rem;
  font-family: $font-opensans;
  font-weight: 300;
  margin-top: 25px;
  //color: var(--accent-color);
}

.pricing__limited {
  text-align: center;
  margin-top: 15px;
  font-size: 0.75rem;
  font-family: $font-raleway;
  font-weight: 700;
}

.pricing__items {
  text-align: center;
}

.pricing__item {
  font-size: 0.875rem;
  margin-bottom: 20px;
}

.pricing__item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../../../public/assets/Ckechmark-1.svg");
}

.pricing__item--not::before {
  background-image: url("../../../public/assets/Close.svg");
}

.pricing__box .btn {
  position: relative;
  bottom: -25px;
  font-size: 0.8125rem;
  //background-color: var(--accent-color);
  transition: 0.5s;
}

.pricing__box .btn:hover {
  opacity: 0.9;
  font-size: 1rem;

}

.pricing__box--basic {
  //--accent-color: $color-redish;
}

.pricing__box--basic .pricing__price {
  margin-bottom: 30px;
}

.pricing__box--professional {
  //--accent-color: $color-primary;
  width: 400px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px $color-primary-shadow;
}

.pricing__box--professional .pricing__type {
  font-size: 1.3125rem;
}

.pricing__box--professional .pricing__item {
  margin-bottom: 25px;
}

.pricing__box--premium {
  //--accent-color: $color-green;
}

.btn {
  text-decoration: none;
  align-self: center;
  font-size: 0.8125rem;
  padding: 16px 57px;
  border-radius: 23px;
  color: $color-white;
}