:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-opensans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --button-radius: 35px;

}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-opensans);

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

header {
    height: 70px;
    background: var(--color-white) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;

}

.bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%


}

.bar-logo__name {
    /*margin: 16px 17px auto 136px;*/
    text-align: left;
    font: normal normal 300 2rem var(--font-raleway);
    color: var(--color-primary);
    letter-spacing: 0;
}

.bar.nav {

}

.bar-nav__menu {
    display: flex;
    /*justify-content: flex-end;*/
    /*align-items: center;*/
    /*margin-right: 136px;*/
    /*margin-bottom: 27px;*/

}

.menu__link {
    text-transform: uppercase;
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;

}

.menu__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.menu__item {
    padding: 0 26px;
}

.menu__item:last-child {
    padding-right: 0;
}

.opening-section {
    width: 100vw;
    height: 712px;
    margin-top: 130px;
    background-color: var(--color-white);
    text-align: center;
}

.opening-section-title {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
    letter-spacing: 0;
    color: var(--color-black);
    margin-top: 0;
}

.opening-section-description {
    margin-top: 20px;
    color: var(--color-black);
}

.opening-section-image {
    width: 100%;
    height: auto;
}

.opening-section-btn {
    display: inline-block;
    margin-top: 38px;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 22px 157px 23px 157px;
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
}

.statistics {
    margin-top: 100px;
}

.statistics-container {
    margin: 100px auto 120px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
    font-size: 2.25rem;
    font-family: var(--font-raleway);
    color: var(--color-black);

}

.statistics-column {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}

.statistics__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;

}

.statistics__img {
    position: absolute;

}

.statistics-column:nth-child(1) .statistics__circle {
    background-color: var(--color-redish);
}

.statistics-column:nth-child(1) .statistics__img {
    top: 0;
    left: 45%;
}

.statistics-column:nth-child(2) .statistics__circle {
    background-color: var(--color-primary);
}

.statistics-column:nth-child(2) .statistics__img {
    top: 14px;
    left: 47%;
}

.statistics-column:nth-child(3) .statistics__circle {
    background-color: var(--color-green);
}

.statistics-column:nth-child(3) .statistics__img {
    top: 6px;
    left: 50%;
}


.statistics__number {
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.3725rem;
    color: var(--color-black);
    margin-top: 14px;
}

.statistics__description {
    color: var(--color-grey);
    font-size: 1.0625rem;
    margin-top: 19px;
}

.benefits {
    padding: 100px 0;
    background-color: var(--color-light-grey);
}

.benefits-container {
    padding: 0 100px;

}

.benefits-row {
    width: 1124px;
    height: 370px;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}

.benefits-row--notebook {
    --accent-color: var(--color-redish);
}

.benefits__textarea {
    max-width: 416px;
    margin: 90px 36px;
}

.benefits__textarea::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 50px;
}

.benefits__title {
    text-align: left;
    font-family: var(--font-raleway);
    font-size: 2rem;
    color: var(--color-black);
    margin-bottom: 30px;
}

.benefits__description {
    margin-top: 30px;
    line-height: 1.375rem;
}

.benefits__image {
    position: relative;
}

.benefits__image img {
    position: relative;
    z-index: 2;
}

.benefits-row--notebook .benefits__image img {
    width: 386px;
    height: auto;
}

.benefits-row--notebook .benefits__image {
    margin-right: 117px;
    margin-bottom: 38px;
}

.benefits-row--notebook .benefits__image::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.benefits-row--phone {
    --accent-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.benefits-row--phone .benefits__image::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}

.benefits-row--phone .benefits__image img {
    width: 426px;
    height: auto;
}

.benefits-row--phone .benefits__textarea {
    margin: 70px 0;
}

.benefits-double {
    display: flex;
    --accent-color: var(--color-green);


}

.benefits__double > div {
    margin-bottom: 0;

}

.benefits-row--solo {
    max-width: 620px;

}

.benefits-row--solo .benefits__textarea {
    max-width: none;
    margin: 70px 35px;
}

.benefits-row--image {
    max-width: 440px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    margin-left: 60px;
}

.benefits-row--image img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

.pricing {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pricing-title {
    text-align: center;
    color: var(--color-black);
    font-size: 2rem;
    font-family: var(--font-raleway);
}

.pricing__box {
    width: 370px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--accent-color);
}

.pricing__details {
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}

.pricing__type {
    font-size: 1.25rem;
    font-family: var(--font-raleway);
    font-weight: 700;
}

.pricing__price {
    font-size: 2.875rem;
    font-family: var(--font-open-sans);
    font-weight: 300;
    margin-top: 25px;
    color: var(--accent-color);
}

.pricing__limited {
    text-align: center;
    margin-top: 15px;
    font-size: 0.75rem;
    font-family: var(--font-raleway);
    font-weight: 700;
}

.pricing__items {
    text-align: center;
}

.pricing__item {
    font-size: 0.875rem;
    margin-bottom: 20px;
}

.pricing__item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1.svg");
}

.pricing__item--not::before {
    background-image: url("../assets/Close.svg");
}

.pricing__box .btn {
    position: relative;
    bottom: -25px;
    font-size: 0.8125rem;
    background-color: var(--accent-color);
}

.pricing__box--basic {
    --accent-color: var(--color-redish);
}

.pricing__box--basic .pricing__price {
    margin-bottom: 30px;
}

.pricing__box--professional {
    --accent-color: var(--color-primary);
    width: 400px;
    margin: 0 40px;
    box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing__box--professional .pricing__type {
    font-size: 1.3125rem;
}

.pricing__box--professional .pricing__item {
    margin-bottom: 25px;
}

.pricing__box--premium {
    --accent-color: var(--color-green);
}

.btn {
    text-decoration: none;
    align-self: center;
    font-size: 0.8125rem;
    padding: 16px 57px;
    border-radius: 23px;
    color: var(--color-white)
}

.contact {
    padding: 80px 100px 100px;
    display: flex;
    justify-content: center;
    margin-left: 365px;
    margin-right: 365px;

}

.contact-column1 {
    height: 376px;
    width: 50%;

}

.contact-title {
    text-align: left;
    font-size: 3.0625rem;
    line-height: 3.6875rem;
    font-family: var(--font-raleway);
    color: var(--color-black);
    margin-bottom: 22px;

}

.contact-description {
    text-align: left;
    font-size: 1rem;
    color: var(--color-black);
    line-height: 1.375rem;
    margin: 22px 0 42px;
}

.contact-details {
    display: inline-block;
    margin-top: 42px;
}

.contact-point {
    margin-right: 20px;
}

.contact-point img {
    margin-right: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.contact-column2 {
    height: 376px;
    width: 50%;
}

.form__place{
    display: flex;
    flex-direction: column;
}

.form__place:first-of-type {
    margin-bottom: 42px;
}

.form__label {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary);
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
}

.form__input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 2.625rem;
}

.form__consent {
    margin-top: 30px;
}

.form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
}

.form__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form__checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}

.form__checkbox input:checked ~ .checkbox {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.form__checkbox .consent__text {
    margin: 0 10px;
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: 17px;
}

.form .btn {
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white)

}
